.main {
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: top, top;
  background-size: cover;
  min-height: 100vh;
  padding-top: 72px;
  margin-top: -72px;
}

